/* Стили для index.html */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-backgroud-color: #f5f4fa;
}

ul {
  list-style: none;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
h2 {
  color: var(--secondary-text-color);
}

/* Logo */
.logo {
  color: var(--accent);
}
.logo .name {
  color: var(--secondary-text-color);
}

/* Site-nav */
.site-nav a {
  color: var(--secondary-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent);
}
.site-nav a.current {
  color: var(--accent);
}

/* Auth-nav */
.auth-nav a {
  color: var(--primary-text-color);
}
.auth-nav a:hover {
  color: var(--accent);
}

/* Hero */
.hero {
  background-color: #2f303a;
}
.hero .title {
  color: var(--primary-white-color);
}

/* Button */
button.primary {
  background-color: var(--accent);
  color: var(--primary-white-color);
}
.button.secondary {
  color: var(--secondary-text-color);
  background-color: var(--secondary-backgroud-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: #ffffff;
  background-color: var(--accent);
}

/* Second section */
.features .title {
  color: var(--secondary-text-color);
}

/* Fourth section */
.team {
  background-color: var(--secondary-backgroud-color);
}
.team-member {
  color: var(--secondary-text-color);
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.logo .text {
  color: var(--primary-white-color);
}
.address {
  color: var(--primary-white-color);
}

/* Стили для portfolio.html */
.portfolio .title {
  color: var(--secondary-text-color);
}
